SUPABASE_HOST=supabase-host
SUPABASE_PORT=5432
SUPABASE_DB=postgres
SUPABASE_USER=postgres
SUPABASE_PASSWORD=123456abc

RESEND_API_KEY=
RESEND_FROM_EMAIL=security@security.omarlab.dev

JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=
JWT_EXPIRATION_MS=
JWT_ISSUER=


CF_R2_BUCKET=marweld-r2-bucket
CF_R2_ENDPOINT=
CF_R2_ACCESS_KEY=
CF_R2_SECRET_KEY=
CF_R2_PUBLIC_URL_PREFIX=
CF_R2_SIGNED_URL_TTL_SECONDS=